<table class="table table-bordered table-hover text-center">
  
  <tr>
    <td>
      <h6>ジャンル検索</h6>
    </td>
  </tr>
  
  <% @genres.each do |genre| %>
    <tr>
      <th>
        <%= link_to items_path(genre_id: genre.id), style: "color: inherit; text-decoration: none;" do %>
          <%= genre.name %>
        <% end %>
      </th>
    </tr>
  <% end %>
  
</table>