<div class='container'>
  <div class="row">
    <div class="col-lg-3 py-5">
      ジャンル欄
    </div>
    <div class='col-lg-4 py-5'>
      <%= image_tag @item.get_image, size:'200x150' %>
    </div>
    <div class='col-lg-5 py-5'>
      <h3><%= @item.name %></h3>
      <p>￥<%= @item.price.to_s(:delimited, delimiter: ',') %></p>
      <span>(税込)</span>
      <div>個数選択</div>
      <%= link_to "カートに入れる", cart_items_path %>　
      <!--?formwith?-->
    </div>
  </div>
</div>
